.selective-ui-option-handle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    font-size: var(--seui-option-crtl-text-size);
    font-family: var(--seui-view-text-style);
    width: unset;
    position: sticky;
    top: 0px;
    padding: var(--seui-option-padding);
    z-index: 2;
    background-color: var(--seui-option-crtl-background-color);
    border: 1px solid var(--seui-option-crtl-border-color);
    border-radius: var(--seui-option-border-radius);
}

.selective-ui-option-handle.hide {
    display: none;
}

.selective-ui-option-handle-item {
    text-decoration: none;
    cursor: pointer;
    color: var(--seui-option-crtl-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selective-ui-option-handle-item:hover {
    color: var(--seui-option-crtl-text-color-hover);
}