.seui-placeholder {
    align-items: center;
    
    margin-left: 10px;
    max-width: calc(100% - 40px);
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    overflow: hidden;

    font-family: var(--seui-view-text-style);
    font-size: var(--seui-view-text-size) !important;
    color: var(--seui-view-text-color);
}