.selective-ui-MAIN {
    display: inline-block;
    max-width: min-content;
}
.selective-ui-MAIN, .selective-ui-MAIN * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -ms-touch-action: manipulation;
    touch-action: manipulation;

    margin: 0;
    padding: 0;

    line-height: normal;
}
.selective-ui-MAIN > select.init {
    display: none;
}
.selective-ui-MAIN > .selective-ui-view {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--seui-view-background-color);
    border: var(--seui-view-border-style) var(--seui-view-border-size) var(--seui-view-border-color);
    border-radius: var(--seui-view-border-radius);
}

.selective-ui-MAIN.invisible {
    display: none;
}

.selective-ui-MAIN.disabled {
    --seui-view-background-color: var(--seui-view-ro-background-color);
    --seui-view-border-color: var(--seui-view-ro-border-color);
    --seui-view-text-color: var(--seui-view-ro-text-color);
    --seui-directive-color: var(--seui-directive-ro-color);
}

.selective-ui-MAIN .hide {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    :root {
        --seui-view-text-size: var(--seui-view-mobile-text-size);
    }
}