.seui-popup, .seui-popup * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    line-height: normal;
}

.seui-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    flex-direction: column;
    
    height: 0px;
    padding: 2px;
    gap: 2px;

    background-color: var(--seui-popup-background-color);
    border-color: var(--seui-popup-border-color);
    border-style: var(--seui-popup-border-style);
    border-width: var(--seui-popup-border-width);
    border-radius: var(--seui-popup-border-radius);

    transition: none;
}

.seui-options-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}

.seui-options-container.hide {
    display: none;
}

.seui-options-container .seui-virtual-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
}