name: Release Drafter

on:
  pull_request_target:
    branches: [main]
    types: [opened, reopened, synchronize, edited, closed]

permissions:
  contents: write
  pull-requests: read

jobs:
  update_release_draft:
    if: |
      github.event.action != 'closed' ||
      github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}