name: Release Drafter

on:
  pull_request_target:
    branches: [main]
    types: [closed]

permissions:
  contents: write
  pull-requests: read

jobs:
  update_release_draft:
    if: ${{ github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'preview' && github.event.pull_request.base.ref == 'main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
